<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
  <add name="qiwebcon" connectionString="Data Source=SQL2016.FSE.Network;Persist Security Info=True;User ID=user_db_1525603_qiweb;Password=qiweb@603;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="db_1525603_qiwebEntities" connectionString="metadata=res://*/App_Data.qiwebModel.csdl|res://*/App_Data.qiwebModel.ssdl|res://*/App_Data.qiwebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL2016.FSE.Network;persist security info=True;user id=user_db_1525603_qiweb;password=qiweb@603;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_qiwebentity" connectionString="metadata=res://*/qiwebmodel-1.csdl|res://*/qiwebmodel-1.ssdl|res://*/qiwebmodel-1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL2016.FSE.Network;persist security info=True;user id=user_db_1525603_qiweb;password=qiweb@603;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="None"></authentication>
  </system.web>

  <location path="Members/Cart.aspx">
    <system.web>
      <authorization>
        <allow roles="customerUser"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin/admin-defaultpage.aspx">
    <system.web>
      <authorization>
        <allow roles="adminUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin/addproductcategory.aspx">
    <system.web>
      <authorization>
        <allow roles="adminUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin/addproducts.aspx">
    <system.web>
      <authorization>
        <allow roles="adminUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin/uploadimage.aspx">
    <system.web>
      <authorization>
        <allow roles="adminUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>