@charset "UTF-8";



/* ====== default page styles ====== */

/* ====== product page styles ====== */

/* ====== contact page styles ====== */

.section-panel, .head-title {
    margin-left: 50px;
    margin-top: 150px;
}

.userdetailform, .contact-details {
  margin-left: 2%;
  margin-right: 2%;
  display: block;
}

.usercontactform h3, .contact-details h3 {
  text-align: center;
  text-decoration: underline;
}

.usercontactform {
  float:left;
  text-align: left;
}  

.userdetailform input {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 18px;
  width: 100%;
  background: #eeeeee;
}

.userdetailform .contact-input {
  height: 35px;
}


.contact-label {
	font-family: sans-serif;
	margin-bottom: 6px;
    display:block;
    font-size: 18px;
}

.userdetailform .message-input {
  height: 200px;
  font-size: 18px;
  background: #eeeeee;
  width: 100%;
  font-family: sans-serif;
}



.lit-panel {
    display: block;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #ff0000;
}


.contact-details {
  float: right;
  text-align: left;
}

.contact-details div {
  color: black;
  font-family: sans-serif; 
  border-left: 2px solid #ff6600;
  border-right: 2px solid #ff6600;
  background-color: #ffd1b3
  
}

.contact-details div p {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 18px;
  text-align: center;
}

#map {
    float: left;
    width: 1000px;        
    height: 500px;
    border: solid;
}



/* ====== login/register page styles ====== */

/* ====== payment/order page styles ====== */