@charset "UTF-8";

/*
Website : Quill & Inks
Description: Ecommerce website selling personal planner products
 
colors used (cross-check reference)

#F5F5F1
#ffffff
#ff8000
#ff9933
#834200
#ff8f20
#aaa

checking accessibility for color contrast A|AA|AAA using:
http://webaim.org/resources/contrastchecker/
*/


/* ==================================== */
/* ====== This is the stylesheet ====== */
/* ==== for Quill&Inks masterpage ===== */
/* ==================================== */

Html, body {
    height: 100%;
    background-color:#F5F5F1;
    font-family: 'Scope One', serif;
    min-width: 100%;  
    width: 100%;
}

#container{
    background-color:#F5F5F1;
}


#nav-head {
    background-color: #ffffff;
    max-width: 100%;
}


#container-logo-menu #main-logo {
    margin-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

/* ======================================= */
/* ====== Navigation (desktop view) ====== */
/* ======================================= */

nav {
    padding-top:15px;
    background: #ffffff;
    box-shadow: 0px 5px 0px #ff8000;
}

nav ul {
  list-style: none;
  text-align: center;
  font-size: 18px;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 2px;
  text-decoration: none;
  color: #834200;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 5px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover, nav ul li a:active  {
  color: #ff8f20;
}

a:active {color:rosybrown;}

#nav-stroke ul li a {
  position: relative;
}
#nav-stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
#nav-stroke ul li a:hover:after {
  width: 100%;
}

a.cart:hover {
    background-image:url(Images/cart.png);
    width: 32px;
    height:32px;
}

/* =================================== */
/* ====== Footer (desktop view) ====== */
/* =================================== */

.footer-panel {
    background-color: #fff;
    font-size: 18px;
}

#foot-empty {
    color : #fff; 
}

footer {
    width: 100%;
    background-color: #fff; /*#F5F5F1*/

}

#footer-logo {
	background-color: #fff; 
    padding-top: 10px;
    padding-left: 10px;
}

#right-footer {
    background-color:#fff;
}

.sitemap {
    background-color:#fff;
    float: right;
    text-align: right;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    list-style-type:none;
}

.sitemap ul li a {
    color: #ff9933; 
	font-size: 12pt;
	text-transform: uppercase;
}

.sitemap ul li a:hover {
    text-decoration: underline;
}

.sitemap ul {
	list-style-type: none;
}

.sitemap-subhead, .sitemap-head a {
	color: #ff9933;
	font-weight: bold;
	font-size: 11pt;
	text-transform: uppercase;
	clear: both;
}

#lowerfooter-validator {
	clear: both;
    text-align:center;
    
}

p.info-footer {
    float:right;
    text-align: left;
    font-size: small;
    clear:both;
    padding-right: 40px;
}

p.footer-logo-img {
    padding-left: 50px;
}

.validate {
    font-size:16px;
    color: black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
