@charset "UTF-8";



/* ====== default page styles ====== */

#container_home {
    display: block;
    margin: 0 auto;
    font-size: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    font-family: 'Scope One', serif;
}

h2.welcome-head {
    color: #ff8000;
    text-align:center;
}

h2.welcome-head-section, h3.welcome-head-section {
    color: #ff8000;
    text-align:center;
    text-decoration:underline;
    font-weight: 900;
}

.contentpanel {
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.contents-showcase {

  overflow: hidden;
  text-align: center;
}

.contents-showcase .planners {
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  margin: 2%;
  -webkit-transition: -webkit-filter 1s;
  z-index: 2;
}

.contents-showcase .filo {
  width: 100%;
  height: 100%;
}

.product-display {
    list-style-type: none;
    display: inline-block;
  position: relative;
  margin: 0.5%;
}

.link-prodpage {
    background: #ccc none repeat scroll 0 0;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: auto;
    left: 0px;
    margin-top: 4px;
    padding: 7px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}


/* ====== product page styles ====== */

/* ====== contact page styles ====== */

.section-panel, .head-title {
    margin-left: 50px;
    margin-top: 300px;

}

.userdetailform, .contact-details {
  margin-left: 2%;
  margin-right: 2%;
  display: block;
}

.usercontactform h3, .contact-details h3 {
  text-align: center;
  text-decoration: underline;
}

.usercontactform {
  float:left;
  text-align: left;
}  

.userdetailform input {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 18px;
  width: 100%;
  background: #eeeeee;
}

.userdetailform .contact-input {
  height: 35px;
}


.contact-label {
	font-family: sans-serif;
	margin-bottom: 6px;
    display:block;
    font-size: 18px;
}

.userdetailform .message-input {
  height: 200px;
  font-size: 18px;
  background: #eeeeee;
  width: 100%;
  color: #ff6600;
  font-family: sans-serif;
}



.lit-panel, #litSuccess, #litfailed {
    display: block;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #ff0000;
}


.contact-details {
  float: right;
  text-align: left;
}

.contact-details div {
  color: black;
  font-family: sans-serif; 
  border-left: 2px solid #ff6600;
  border-right: 2px solid #ff6600;
  background-color: #ffd1b3
  
}

.contact-details div p {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 18px;
  text-align: center;
}

.googlemapapi {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: hidden;
}

#map {
    float: left;
    width: 100%;        
    height: 500px;
}

#staticmap {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ====== login/register page styles ====== */

/* ====== payment/order page styles ====== */