@charset "UTF-8";

body {
    background-color:#F5F5F1;
    font-family: 'Scope One', serif;
}

.error {
    font-size: 150px;
    text-align: center;
    color: red;
}

.errorclass {
    font-size: 20px;
    margin-left: 20%;
    font-weight: bold;
}
/* ================================= */
/* ====== default page styles ====== */
/* ================================= */

#container_home {
    display: block;
    margin: 0 auto;
    font-size: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    font-family: 'Scope One', serif;
}

h2.welcome-head {
    color: #834200;
    text-align:center;
}

h2.welcome-head-section, h3.welcome-head-section {
    color: #834200;
    text-align:center;
    text-decoration:underline;
    font-weight: 900;
}

.contentpanel {
    
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  
}

.contents-showcase {

   overflow: hidden;
   text-align: center;
}

.contents-showcase .planners {
   -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
   -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
   box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
   display: inline-block;
   position: relative;
   border-radius: 5px;
   width: 300px;
   height: 300px;
   margin: 2%;
   -webkit-transition: -webkit-filter 1s;
   z-index: 2;
}

#display-sales-banner{
    width:723px;
	height:209px;
	display: block;
	overflow:hidden;
	margin: auto;
}

.imageinfo{
    width: 100%;
    height: 30px;
    display: block;
    background: #d5d4d3;
    z-index: 99;
}

h3.imageinfo{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 15px 0 0 20px;
}

img.hide {
    display: none;
}

a.planners:hover img:first-child {
    display:none;
    
}

a.planners:hover img:last-child {
    display:inline-block;
    
}

li.product-display {
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin: 0.5%;

}

.link-prodpage {
    background: #ccc none repeat scroll 0 0;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: auto;
    left: 0px;
    margin-top: 4px;
    padding: 7px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.sale-displayhead {
    padding-top: 20px;
    font-weight: bold;
    font-size: 16px;
}

.sale-displaybody {
    margin-top: -20px;
    color: #834200;
    font-size: 15px;
    font-weight:900;
}

/* code is referenced from https://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/ */

.banner-slideshow{
   width: 100%;
   margin-top: 30px;
   z-index: -2;
   overflow: hidden;
   margin-bottom: 10px;
}

.slidepane{
   width: 450%;
   list-style: none;
   position: relative;
   overflow-x: hidden;
   transition: margin 5s;
   height: auto;
   /* animation */
   -moz-animation: carousel 30s infinite;
   -webkit-animation: carousel 30s infinite;
   animation: carousel 30s infinite;
   animation-play-state: running;
}

.slidepane > img{
    width: 900px;
    height: 209px;
}

.slidepane > li {
   position: relative;
   float: left;
}

.slidepane li {
    margin-left: 50px;
}

@keyframes carousel{                                    /* self note:- calculate carousel animation from one img to another --> 100 / 2(n-1) */
    0%    { left:0; }
    25% {left:-100%;}
    50%   { left:-200%; }
    75% { left:-100%;}
    100%  { left:0; }
  
}

.banner-slideshow img{
  height: auto;
  display: block;
  max-height: 450px;
  margin-left: -30px;
}


/* webdesign*/



.box {
    background-color: #ffd1b3;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    white-space: nowrap;
    width: 400px;
    padding: 10px;
    margin-left: 20%;
    margin-top: 5px;
}

.searchcont {
    margin-top:280px;
    width: 91.5%;
    height: 50px;
  border: none;
  font-size: 10pt;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.icon{
  position: absolute;
  margin-left: 46%;
  margin-top: 1px;
  z-index: 1;
  color: black;
  background-color:#d5d4d3;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
  font-weight: 900;
}

.searchcont input#search:hover, .searchcont input#search:focus, .searchcont input#search:active{
    outline:none;
    background: #ffffff;
  }



/* ================================= */
/* ====== product page styles ====== */
/* ================================= */

.give-space{
    margin: 0px 0px 50px 60%;
    text-align: left;
}

.content-change {
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.left-cont{
    float: left;
    padding: 20px;
}

.right-cont {
    float:right;
    padding: 20px
}

.productLbl{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

.product-description {
    background: #ffffff;
    border-radius: 2px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin-bottom: 50px;
}

.productImage {
    display: block;
    margin-top: 10px;
    overflow: hidden;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    max-width: 400px;
    height: 400px;
}

.productImageCart {
    display: block;
    margin-top: 10px;
    overflow: hidden;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    max-width: 200px;
    height: 200px;
}

.qty {
    font-size: 24px;
    border: 4px solid #ff6a00;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    

}

/* ================================= */
/* ====== contact page styles ====== */
/* ================================= */

.section-panel, .head-title {
    margin-left: 50px;
    margin-top: 300px;
}

.userdetailform, .contact-details {
   margin-left: 2%;
   margin-right: 2%;
   display: block;
}

.usercontactform h3, .contact-details h3 {
   text-align: center;
   text-decoration: underline;
}

.usercontactform {
   float:left;
   text-align: left;
}  

.userdetailform .contact-input, .contact-input {
   height: 35px;
   margin-top: 4px;
   margin-bottom: 16px;
   font-size: 18px;
   width: 100%;
   background: #eeeeee;
}

.contact-label {
   margin-bottom: 6px;
   display:block;
   font-size: 18px;
   font-weight: 900;
}

.userdetailform .message-input {
   height: 200px;
   font-size: 18px;
   background: #eeeeee;
   width: 100%;
}

.ddcategory {                                           /* css design for drop down list from https://wisdmlabs.com/blog/customize-drop-down-list-using-css/*/
  font-size: 18px;
  padding: 10px 8px 10px 14px;
  background: #ffd1b3;
  border: 3px solid rgba(0, 0, 0,0.5);
  border-radius: 10px;
  position: relative;
}

.ddcategory .choose {
    width: 120%;
    background:url('../Images/arrow.png') no-repeat;
    background-position: 80% center;
    overflow:hidden;
}

.ddcategory .choose select {
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}



.lit-panel, #litSuccess, #litfailed {
   display: block;
   margin-bottom: 10px;
   color: #ff0000;
   font-weight:bold;
}

.contact-details {
   float: right;
   text-align: left;
}

.contact-details div {
    color: black;
    border: 2px solid #ff6600;
}

.contact-details div p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.googlemapapi {
   margin-left: auto;
   margin-right: auto;
   width: 90%;
   overflow: hidden;
}

.headspace{
    margin-top: 20px;
}

.address {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

#map {
   float: left;
   width: 100%;        
   height: 500px;
}

#staticmap {
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/* ================================= */
/* ====== login pages styles ======= */
/* ================================= */

.loginWrapper {
    margin: 20px;
}

.login-head {
    margin-top: 10px;
}

.logininnerwrapper{
   margin-left: 10px;
}

.buttonlogin {
    margin-left: 35%;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 25px;
    border-color: #ffd1b3;
    background-color: #ff6a00;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.buttonlogin:hover {
    font-size: 20px;
    margin-top: 10px;
    border-radius: 25px;
    border-color: #ff6a00;
    background-color: #ffd1b3;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.loginpanel {
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
}
/* ====== payment/order page styles ====== */

.cartBtn {
    
    background: #ff6a00;
    color: white;
    font-size: 30px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 20px;
    margin-right: 10px;
    text-decoration:none;
    margin-top: 30px;

}

/* ================================= */
/* ==== all admin pages styles ===== */
/* ================================= */

#admin-container {
    margin-top: 50px;
    
}

.adminborder {
    border:solid 3px #ff6a00;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.adminadd {
    margin-left: 150px;
    font-size: 20px;
    padding-bottom: 10px;
}

.adminadd h3 {
    margin-left: 50px;
}



.admininput {
    height: 30px;
    font-size: 25px;
    margin:5px;
}


.button {
    font-size: 20px;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    border-color: #ffd1b3;
    background-color: #ff6a00;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.button:hover {
    font-size: 20px;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    border-color: #ff6a00;
    background-color: #ffd1b3;
    color: black;
    text-decoration: none;
    padding: 10px;
}
.buttoncancel {
    font-size: 20px;
    border-radius: 25px;
    border-color: #ffd1b3;
    background-color: #ff6a00;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.buttoncancel:hover {
    font-size: 20px;
    border-radius: 25px;
    border-color: #ff6a00;
    background-color: #ffd1b3;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.buttoncontact {
    font-size: 20px;
    margin: 0 0 0 180px;
    border-radius: 25px;
    border-color: #ffd1b3;
    background-color: #ff6a00;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.buttoncontact:hover {
    font-size: 20px;
    margin: 0 0 0 180px;
    border-radius: 25px;
    border-color: #ff6a00;
    background-color: #ffd1b3;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.givespace {
    margin-top: 25px;
    color: red;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 25px;
}

.gridtable {
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    
}

.gridtable td{
    padding: 20px;
    border: solid 1px #834200;
}

.gridtable th{
    padding: 10px;
    border: solid 1px #834200;
    text-decoration: none;
    text-align: center;
    font-weight: 900 ;
    color:  #834200;
}


/* ================================= */
/* ========= Mobile styles ========= */
/* ================================= */


